/* 
STUDENT NAME: ANUBHAV ASHISH 
STUDEND ID:  45317569
*/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo > img{
    width: 50px;
    height: 50px;
    color: white;
    margin-left: 1em;
    
}
li{
    list-style: none;
}
nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
}
nav > ul > li{
    margin: 1em;
}
header {
    width: 100%;
    height: 4em;
    background:#212529;
    display: flex;
    align-items: center;
}
form{
    font-size: 20px;
}
#search-form > .form-input{
    color: white;
    height: 20px;
    width: 100%;
    
}
#search-form{
    display: flex;
    margin: 0 2em 0 auto;

}
.form-submit > input:hover{
    color: green;
}

#search-button{

    background: none;
    color: white;
    cursor: pointer;
    border:none;
    font-size: 20px;
    transition: transform ease-in .2s;
}
#search-button:hover{
    transform: scale(1.2) rotateX(360deg);
    color:yellow;
}

#search-input{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
    transition: transform .2s;
    display: inline-block;
}

a:hover{
    transform: scale(1.2);
    color: yellow;
}
#heading {
    background-color: rgb(244, 240, 240);
    text-align: center;
}

#registration {
    width: 30%;
    margin: auto;
}

footer {
    background-color: #212529;
    text-align: center;
}

img {
    width: 300px;
}

/*****
Content
******/

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #f6f2f2;

}
#heading{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.flowtow{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto
}
hgroup{
    color: indianred;
    font-size: 2em;
}
hgroup,#whatis, #registration, #recent-users{
    grid-column-start: 1;
    grid-column-end: 4;
}
.flowtow >ul{
    list-style: none;
}
.flowtow > ul> li > img{
    transition: transform ease-in-out .5s;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flowtow > ul> li > img:hover{
    transform: scale(1.1);
}

.like-button:hover{
    color: green;
}

#whatis{
    margin-bottom: 1em;
    font-size: large;
    text-align: center;
    padding: 20px;
    background-image: url('./shutter.svg');
    background-size: 70px;
    background-repeat: repeat;
    background-position: center;
}

#registration{
    border-radius: 30px;
    text-align: center;
    height: 16em;
    transform: perspective(100px) translateZ(0px);
    transition-property: transform;
    transition-duration: .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#registration:hover{
    transform: perspective(200px) translateZ(90px);
    background-color: #f6f2f2;

}

.user > a{
    color: chocolate;
}

#social > ul{
    list-style-type: none;
    display: flex;
}
#social > ul > li,
.footer-tos > li{
    margin: 10px;
}
#social{
    display: flex;
    justify-content: center;
}
.footer-tos{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
 
}

#copyright{
    margin: 0;
}
#recent-users{
    text-align: center;
}
.form-input> label{
    margin-right: 1em;
}    